# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache

# Cpanel deploy
.deploy.conf

# Vite
dist/
.vite/
.cache/
temp/

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Editor de texto/IDE
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Dependencias de construcción
build/
out/
.vscode/

# Archivos de entorno
.env
.env.*
!.env.example

# Archivos de prueba
coverage/
*.lcov
*.test.js
*.spec.js
*.test.ts
*.spec.ts
__snapshots__/
__tests__/
__mocks__/